In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import datasets

In [6]:
df  = pd.read_csv('iris.csv')

In [7]:
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [8]:
df.sample(10)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
126,127,6.2,2.8,4.8,1.8,Iris-virginica
113,114,5.7,2.5,5.0,2.0,Iris-virginica
70,71,5.9,3.2,4.8,1.8,Iris-versicolor
12,13,4.8,3.0,1.4,0.1,Iris-setosa
142,143,5.8,2.7,5.1,1.9,Iris-virginica
21,22,5.1,3.7,1.5,0.4,Iris-setosa
74,75,6.4,2.9,4.3,1.3,Iris-versicolor
26,27,5.0,3.4,1.6,0.4,Iris-setosa
52,53,6.9,3.1,4.9,1.5,Iris-versicolor
95,96,5.7,3.0,4.2,1.2,Iris-versicolor

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [10]:
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [11]:
df.drop(['Id'],axis =1,inplace = True)

In [12]:
df.isnull().sum()

SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [13]:
df.duplicated().sum()

3

In [14]:
df = df.drop_duplicates()

In [15]:
df.corr()

               SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
SepalLengthCm       1.000000     -0.109321       0.871305      0.817058
SepalWidthCm       -0.109321      1.000000      -0.421057     -0.356376
PetalLengthCm       0.871305     -0.421057       1.000000      0.961883
PetalWidthCm        0.817058     -0.356376       0.961883      1.000000

In [16]:
df.columns

Index(['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [17]:
df['Species'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [18]:
#convert the species into 0 and 1
df['Species'] = df['Species'].map({'Iris-setosa':1,'Iris-versicolor' : 2 , "Iris-virginica" : 3})
df['Species']

<ipython-input-18-e344dfbc0ba9>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Species'] = df['Species'].map({'Iris-setosa':1,'Iris-versicolor' : 2 , "Iris-virginica" : 3})

0      1
1      1
2      1
3      1
4      1
      ..
145    3
146    3
147    3
148    3
149    3
Name: Species, Length: 147, dtype: int64

In [19]:
x = df.iloc[:,:-1]
x

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0              5.1           3.5            1.4           0.2
1              4.9           3.0            1.4           0.2
2              4.7           3.2            1.3           0.2
3              4.6           3.1            1.5           0.2
4              5.0           3.6            1.4           0.2
..             ...           ...            ...           ...
145            6.7           3.0            5.2           2.3
146            6.3           2.5            5.0           1.9
147            6.5           3.0            5.2           2.0
148            6.2           3.4            5.4           2.3
149            5.9           3.0            5.1           1.8

[147 rows x 4 columns]

In [20]:
y = df.iloc[:,-1]
y

0      1
1      1
2      1
3      1
4      1
      ..
145    3
146    3
147    3
148    3
149    3
Name: Species, Length: 147, dtype: int64

In [21]:
from sklearn.model_selection import train_test_split

In [22]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.25,random_state =42)
x_train

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
148            6.2           3.4            5.4           2.3
44             5.1           3.8            1.9           0.4
16             5.4           3.9            1.3           0.4
10             5.4           3.7            1.5           0.2
117            7.7           3.8            6.7           2.2
..             ...           ...            ...           ...
73             6.1           2.8            4.7           1.2
108            6.7           2.5            5.8           1.8
14             5.8           4.0            1.2           0.2
94             5.6           2.7            4.2           1.3
104            6.5           3.0            5.8           2.2

[110 rows x 4 columns]

In [23]:
x_test

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
127            6.1           3.0            4.9           1.8
53             5.5           2.3            4.0           1.3
140            6.7           3.1            5.6           2.4
19             5.1           3.8            1.5           0.3
106            4.9           2.5            4.5           1.7
12             4.8           3.0            1.4           0.1
78             6.0           2.9            4.5           1.5
31             5.4           3.4            1.5           0.4
83             6.0           2.7            5.1           1.6
9              4.9           3.1            1.5           0.1
26             5.0           3.4            1.6           0.4
98             5.1           2.5            3.0           1.1
146            6.3           2.5            5.0           1.9
69             5.6           2.5            3.9           1.1
136            6.3           3.4            5.6           2.4
68             6.2           2.2            4.5           1.5
18             5.7           3.8            1.7           0.3
71             6.1           2.8            4.0           1.3
126            6.2           2.8            4.8           1.8
30             4.8           3.1            1.6           0.2
29             4.7           3.2            1.6           0.2
107            7.3           2.9            6.3           1.8
38             4.4           3.0            1.3           0.2
120            6.9           3.2            5.7           2.3
57             4.9           2.4            3.3           1.0
22             4.6           3.6            1.0           0.2
66             5.6           3.0            4.5           1.5
135            7.7           3.0            6.1           2.3
84             5.4           3.0            4.5           1.5
11             4.8           3.4            1.6           0.2
137            6.4           3.1            5.5           1.8
47             4.6           3.2            1.4           0.2
121            5.6           2.8            4.9           2.0
27             5.2           3.5            1.5           0.2
4              5.0           3.6            1.4           0.2
129            7.2           3.0            5.8           1.6
131            7.9           3.8            6.4           2.0

In [24]:
from sklearn.linear_model import LogisticRegression

In [25]:
classifier = LogisticRegression()
classifier

LogisticRegression()

In [26]:
classifier.fit(x_train,y_train)

LogisticRegression()

In [27]:
y_pred = classifier.predict(x_test)
y_pred

array([3, 2, 3, 1, 2, 1, 2, 1, 3, 1, 1, 2, 3, 2, 3, 2, 1, 2, 2, 1, 1, 3,
       1, 3, 2, 1, 2, 3, 2, 1, 3, 1, 3, 1, 1, 3, 3], dtype=int64)

In [28]:
y_test

127    3
53     2
140    3
19     1
106    3
12     1
78     2
31     1
83     2
9      1
26     1
98     2
146    3
69     2
136    3
68     2
18     1
71     2
126    3
30     1
29     1
107    3
38     1
120    3
57     2
22     1
66     2
135    3
84     2
11     1
137    3
47     1
121    3
27     1
4      1
129    3
131    3
Name: Species, dtype: int64

In [29]:
# accuracy score
from sklearn.metrics import accuracy_score , classification_report , confusion_matrix

In [30]:
score = accuracy_score(y_pred,y_test)
score

0.918918918918919

In [31]:
pd.DataFrame(confusion_matrix(y_pred , y_test))

    0  1   2
0  14  0   0
1   0  9   2
2   0  1  11

In [32]:
print(classification_report(y_pred , y_test))

              precision    recall  f1-score   support

           1       1.00      1.00      1.00        14
           2       0.90      0.82      0.86        11
           3       0.85      0.92      0.88        12

    accuracy                           0.92        37
   macro avg       0.92      0.91      0.91        37
weighted avg       0.92      0.92      0.92        37

In [33]:
classifier.coef_

array([[-4.91973827e-01,  8.23933919e-01, -2.35836142e+00,
        -9.30635656e-01],
       [ 4.91408182e-01, -2.48239019e-01, -2.39484084e-01,
        -7.98381897e-01],
       [ 5.65645527e-04, -5.75694899e-01,  2.59784550e+00,
         1.72901755e+00]])

In [34]:
classifier.intercept_

array([ 10.03813081,   2.08936752, -12.12749833])

In [35]:
import pickle
pickle_out = open("clf.pkl","wb")
pickle.dump(classifier, pickle_out)
pickle_out.close()

In [94]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 99 entries, 50 to 149
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   SepalLengthCm  99 non-null     float64
 1   SepalWidthCm   99 non-null     float64
 2   PetalLengthCm  99 non-null     float64
 3   PetalWidthCm   99 non-null     float64
 4   Species        99 non-null     int64
dtypes: float64(4), int64(1)
memory usage: 4.6 KB

In [95]:
df

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
50             7.0           3.2            4.7           1.4        0
51             6.4           3.2            4.5           1.5        0
52             6.9           3.1            4.9           1.5        0
53             5.5           2.3            4.0           1.3        0
54             6.5           2.8            4.6           1.5        0
..             ...           ...            ...           ...      ...
145            6.7           3.0            5.2           2.3        1
146            6.3           2.5            5.0           1.9        1
147            6.5           3.0            5.2           2.0        1
148            6.2           3.4            5.4           2.3        1
149            5.9           3.0            5.1           1.8        1

[99 rows x 5 columns]

In [96]:
df.columns

Index(['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [97]:
df['Species'].unique

<bound method Series.unique of 50     0
51     0
52     0
53     0
54     0
      ..
145    1
146    1
147    1
148    1
149    1
Name: Species, Length: 99, dtype: int64>